{% load crispy_forms_tags %}
<div class="card card-bg mx-3 mb-3">
    <div class="card-body">
        <h5 class="card-title">Pemilihan {{ name|capfirst  }}</h5>
        <p class="card-text">
            Silahkan memilih {{ name|capfirst }} Anda sesuai minat, jika terdapat tanda bintang (<span class="text-danger">*</span>) berarti wajib diisi.
            <samp class="text-danger">Jurusan yang sudah dipilih tidak bisa diubah.</samp>
        </p>
    </div>
</div>
{% crispy form %}
{% if data.verified %}
    <script type="text/javascript">
    $("#{{ name }}-form .form-control").prop('disabled', true);
    $("#{{ name }}-form").submit(() => {
        let alertSuccess = `<div class="alert alert-warning alert-dismissible fade show" role="alert">Data yang sudah diverifikasi, tidak bisa diubah \
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">\
        &times;</span></button></div>`;
        $("#{{ name }}-form").prepend(alertSuccess);
        return false;
    });
    </script>
{% else %}
<script type="text/javascript">
let selectedFirst = $("#id_first_major").val();
let selectedSecond = $("#id_second_major").val();

    $("#{{ name }}-form").submit((e) => {
        $.ajax({
            url: "/profile/jurusan/",
            type: "POST",
            data: $("#{{ name }}-form").serialize(),
            dataType: 'json',
            beforeSend: () => {
                $("#{{ name }}-form").empty().html(`<div class="d-flex justify-content-center" >
                    <div class="spinner-border text-danger" role="status" style="width: 3rem; height: 3rem;">
                        <span class="sr-only">Loading...</span>
                    </div>
                    </div>`
                );
            },
            success: (response) => {
                $("#{{ name }}-form").empty().html(response.form_s);
                let alertSuccess = `<div class="alert alert-success alert-dismissible fade show" role="alert">Berhasil Menyimpan Jurusan Pilihan \
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">\
                                &times;</span></button></div>`;
                disableMajor()
                $("#{{ name }}-form").prepend(alertSuccess);
            },
            error: (response) => {
                $("#{{ name }}-form").empty().html(response.form_s);
                let alertDanger = `<div class="alert alert-danger alert-dismissible fade show" role="alert">Data Tidak Valid, Silahkan Cek Kembali... \
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">\
                                &times;</span></button></div>`;
                $("#{{ name }}-form").prepend(alertDanger);
        });
            return false;
        }
    });

</script>
{% endif %}
