{% extends 'participant_profile/primaseru.html' %}
{% load static %}

{% block content %}

<div class="row no-gutters align-items-center">
    <div class="col mr-2">
        {% comment %} <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
            Kelulusan</div> {% endcomment %}
        {% if data.passed == 'L' and data.is_announced %}
        <div class="h5 mb-3 text-danger font-weight-bold">Selamat! Anda dinyatakan lulus seleksi Primaseru</div>
        <div class="h5 mb-3 font-weight-bold text-gray-800">{{ data.get_chose_major_display|upper  }}.</div>
        <p class="text-gray-600">
            Silahkan melakukan pembayaran daftar ulang untuk melanjutkan proses pendaftaran.
        </p>
        <a href="{% url 'skl' %}" target="_blank" class="mb-2 mb-md-0 btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-flag"></i>
            </span>
            <span class="text">Kartu Kelulusan</span>
        </a>
        {% if data.letter %}
        <a class="btn btn-danger btn-icon-split" href="{{ data.letter.url }}">
            <span class="icon text-white-50">
                <i class="fas fa-flag"></i>
            </span>
            <span class="text">Surat Kelulusan</span>
        </a>
        {% endif %}
        {% elif data.passed == 'TL' and data.is_announced %}
        <div class="h5 mb-3 font-weight-bold text-gray-800">Mohon maaf, Anda tidak lulus seleksi Primaseru.</div>
        <div class="quoteContainer text-gray-600">
            <p id="quoteText"></p>
            <p class="quoteAuthor">&horbar; <span id="quoteAuthor"></span></p>
        </div>
        <script type="text/javascript">
            fetch("https://type.fit/api/quotes")
                .then(function(response) {
                    return response.json();
                })
                .then(function(data) {
                    var quote = data[Math.floor(Math.random() * data.length)];

                    document.getElementById("quoteText").innerHTML = quote.text;
                    document.getElementById("quoteAuthor").innerHTML = quote.author;
                }
            );
        </script>
	{% else %}
	<div class="h5 mb-3 font-weight-bold text-gray-800">Nothing to see here, yet...</div>
        <p class="text-gray-600">
            Pengumuman hasil Tes Minat Bakat, diumumkan paling cepat seminggu setelah tes.
        </p>
        {% endif %}
    </div>
    <div class="col-auto d-none d-sm-block">
        <img src="{% static 'participant_profile/images/undraw_online_information_re_erks.svg' %}" style="width: 15rem;"
            class="img-fluid" alt="image banner">
    </div>
</div>

{% endblock content %}

