{% extends 'participant_profile/primaseru.html' %}
{% load static %}

{% block adon-block %}
<div class="row">
    <div class="col-lg-12 mb-4">

        <!-- Illustrations -->
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Jadwal Test Minat Bakat</div>
                        <div class="h5 mb-3 font-weight-bold text-gray-800">{{ data.schedule|date:"d F Y" }}, Pukul:
                            {{ data.time }}</div>
                        <p class="text-gray-600">
                            Jangan sampai terlambat, persiapkan dirimu dengan baik. <br>
                            Catat <span class="text-danger">username</span> dan <span class="text-danger">password</span> di bawah. 
                        </p>
                        <a href="http://elearning.smktelkom-bdg.sch.id/" target="_blank"
                            class="btn btn-danger btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-flag"></i>
                            </span>
                            <span class="text">Masuk Halaman Ujian</span>
                        </a>
                    </div>
                    <div class="col-auto d-none d-sm-block">
                        <img src="{% static 'participant_profile/images/undraw_Events_re_98ue.svg' %}"
                            style="width: 15rem;" class="img-fluid" alt="image banner">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock adon-block %}

{% block content %}

<div class="form-group">
    <label class="h6 text-gray-800 font-weight-bold" for="nama-lengkap">Nama Lengkap</label>
    <div class="input-group mb-2">
        {% comment %} <div class="input-group-prepend">
            <div class="input-group-text">@</div>
        </div> {% endcomment %}
        <input type="text" class="form-control" id="nama-lengkap" value="{{ data.participant.participant.full_name  }}">
    </div>
</div>

<div class="form-group">
    <label class="h6 text-gray-800 font-weight-bold" for="username">Username</label>
    <div class="input-group mb-2">
        {% comment %} <div class="input-group-prepend">
            <div class="input-group-text">@</div>
        </div> {% endcomment %}
        <input type="text" class="form-control" id="username" value="{{ data.username }}">
    </div>
</div>

<div class="form-group">

    <label class="h6 text-gray-800 font-weight-bold" for="password">Password</label>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-prepend">
                <button class="btn btn-outline-danger" style="border-radius:0;
                  border-top-left-radius: .3rem;
                  border-bottom-left-radius: .3rem" type="button" id="button-toggle-password">
                    <i id="eye-icon" class="fas fa-eye"></i>
                </button>
            </div>
        </div>
        <input type="password" class="form-control" id="password" value="{{ data.password }}">
    </div>
</div>

<a href="{% url 'id-card' %}" target="_blank" class="btn btn-danger btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-download fa-fw"></i>
    </span>
    <span class="text">Unduh Kartu Peserta</span>
</a>

{% endblock content %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $("#button-toggle-password").on("click", function() {
            let passwordBox = $("#password");
            let eyeIcon = $("#eye-icon");

            if (passwordBox.attr("type") == "password") {
                passwordBox.attr("type", "text")
                eyeIcon.attr("class", "fas fa-eye-slash")
            } else {
                passwordBox.attr("type", "password")
                eyeIcon.attr("class", "fas fa-eye")
            }

        });
    </script>

{% endblock js %}