{% load crispy_forms_tags %}
<div class="card card-bg mx-3 mb-3">
    <div class="card-body">
        <h5 class="card-title">Unggah {{ name|capfirst  }}</h5>
        <p class="card-text">
            Silahkan Mengunggah {{ name }} sesuai kolom yang tersedia, harap melakukan scan terhadap file yang akan di unggah, supaya jelas terlihat.
        </p>
        {% if data.verified %}
            Status : <span class="badge badge-success">Terverifikasi</span>
        {% else %}
            Status : <span class="badge badge-warning">Belum Terverifikasi</span>
        {% endif %}
        {% if data.msg %}
        <div class="alert alert-danger" role="alert">
            {{ data.msg  }}
        </div>
        {% endif %}
    </div>
</div>
<div id="form-body-{{ name  }}">
{% crispy form %}
</div>
{% if data.verified %}
    <script type="text/javascript">
     $("#{{ name }}-form .custom-file-input").prop('disabled', true);
     $("#{{ name }}-form").submit(() => {
         let alertSuccess = `<div class="alert alert-warning alert-dismissible fade show" role="alert">Berkas yang sudah diverifikasi, tidak bisa diubah \
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">\
        &times;</span></button></div>`;
         $("#{{ name }}-form").prepend(alertSuccess);
         return false;
     });
    </script>
{% else %}
<script type="text/javascript">
$("#{{ name }}-form").submit((e) => {
     let filesData = new FormData($("#{{ name }}-form").get(0));
    $.ajax({
        url: $("#{{ name }}-form").attr('action'),
        type: "POST",
        data: filesData,
        dataType: 'json',
        cache: false,
        processData: false,
        contentType: false,
        // beforeSend: () => {
        //     $("#form-body-{{ name }}").empty().html(`<div class="d-flex justify-content-center" >
        //    <div class="spinner-border text-danger" role="status" style="width: 3rem; height: 3rem;">
        //  <span class="sr-only">Loading...</span>
        //      </div>
        //      </div>`
        //     );
        // },
        success: (response) => {
            let alertSuccess = `<div class="alert alert-success alert-dismissible fade show" role="alert">Berhasil Menyimpan Berkas \
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">\
                                &times;</span></button></div>`;
            // $("#form-body-{{ name }}").empty().html(response.form_s);
            $("#{{ name }}-form").prepend(alertSuccess);
            $('html,body').scrollTop(0);
        },
        error: (response) => {
            let alertDanger = `<div class="alert alert-danger alert-dismissible fade show" role="alert">Data Tidak Valid, Silahkan Cek Kembali... \
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">\
                                &times;</span></button></div>`;
            $("#form-body-{{ name }}").empty().html(response.responseJSON.form_s);
            $("#form-body-{{ name }}").prepend(alertDanger);
        },
    });
    return false;
});

</script>
{% endif %}
