{% load crispy_forms_tags %}
<div class="card card-bg mx-3 mb-3">
    <div class="card-body">
        <h5 class="card-title">Unggah {{ name|capfirst  }}</h5>
        <p class="card-text">
            Silahkan Mengunggah {{ name }} sesuai kolom yang tersedia, harap melakukan scan terhadap file yang akan di unggah, supaya jelas terlihat.
        </p>
        {% if data.verified %}
            Status : <span class="badge badge-success">Terverifikasi</span>
        {% else %}
            Status : <span class="badge badge-warning">Belum Terverifikasi</span>
        {% endif %}
        {% if data.msg %}
        <div class="alert alert-danger" role="alert">
            {{ data.msg  }}
        </div>
        {% endif %}
    </div>
</div>
<div id="form-body-{{ name  }}">
{% crispy form %}
</div>
