{% extends 'homepage/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="{% static 'dashboard/css/insert_participant.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'participant_profile/css/primaseru.css' %}" type="text/css" media="screen" />
{% endblock head %}
{% block navbar %}{% endblock navbar %}
{% block container %}container-fluid{% endblock container %}
{% block main %}


    <div class="row mx-2 mb-3 mt-5">
        <div class="col-12 px-2 px-lg-5">
            <div class="nav flex-column flex-sm-row justify-content-center mx-0 mx-lg-5 bg-white rounded border" id="v-pills-tab" role="navigation">

                <a class="nav-link tab-profile px-3 text-center" href="{% url 'participant-kk' %}" role="tab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                        <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    <h5 class="judul mt-2 mb-0">Berkas Identitas</h5>
                </a>

                {% if pay == 'L' %}
                <a class="nav-link tab-profile  px-3 text-center" href="{% url 'participant-raport' %}" role="tab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-file-earmark-binary" viewBox="0 0 16 16">
                        <path d="M7.05 11.885c0 1.415-.548 2.206-1.524 2.206C4.548 14.09 4 13.3 4 11.885c0-1.412.548-2.203 1.526-2.203.976 0 1.524.79 1.524 2.203zm-1.524-1.612c-.542 0-.832.563-.832 1.612 0 .088.003.173.006.252l1.559-1.143c-.126-.474-.375-.72-.733-.72zm-.732 2.508c.126.472.372.718.732.718.54 0 .83-.563.83-1.614 0-.085-.003-.17-.006-.25l-1.556 1.146zm6.061.624V14h-3v-.595h1.181V10.5h-.05l-1.136.747v-.688l1.19-.786h.69v3.633h1.125z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    <h5 class="judul mt-2 mb-0">Berkas Raport</h5>
                </a>

                <a class="nav-link tab-profile  px-3 text-center" href="{% url 'participant-files' %}" role="tab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                        <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    <h5 class="judul mt-2 mb-0">Berkas Penting Lainnya</h5>
                </a>
                {% endif %}

                <a class="nav-link tab-profile  px-3 text-center" href="{% url 'participant-major' %}" role="tab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                    <h5 class="judul mt-2 mb-0">Kembali</h5>
                </a>


            </div>
        </div>
    </div>

    <div class="row bg-light pt-3">
        <div class="container">
            <div class="col-sm-12">
                <div class="row shadow rounded py-2 bg-white min-vh mb-4">


                    <div class="card card-bg mt-3 mx-4">
                        <div class="card-body">
                            <h4 class="card-title judul">
                                {{ name|capfirst  }}
                            </h4>
                            <p class="card-text">
                                Silahkan melengkapi data {{ name|capfirst }} Anda sesuai kolom yang tersedia, jika terdapat tanda bintang (<span class="text-danger">*</span>) berarti wajib diisi.
                                <samp class="text-danger">Data yang sudah terverifikasi tidak bisa diubah.</samp>
                            </p>
                            {% if data.verified %}
                                Status : <span class="badge badge-success">Terverifikasi</span>
                            {% else %}
                                Status : <span class="badge badge-warning">Belum Terverifikasi</span>
                            {% endif %}
                        </div>
                    </div>

                    {% if raport %}
                    <div class="col mx-4 mt-4">
                        <div class="table-responsive-md">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Semester</th>
                                        <th scope="col">Bagian</th>
                                        <th scope="col">Verifikasi</th>
                                        <th scope="col">Berkas Raport</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for r in raport %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter  }}</th>
                                            <td>{{ r.get_semester_display  }}</td>
                                            <td>{{ r.get_part_display  }}</td>
                                            <td>
                                                {% if r.verified %}
                                                    <span class="badge badge-success">Terverifikasi</span>
                                                {% else %}
                                                    <span class="badge badge-warning">Belum Terverifikasi</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <form method="POST" action="{% url 'participant-raport-delete' r.pk %}">
                                                    <a class="pb-1" href="{{ r.raport.url  }}">Unduh</a>
                                                    {% if not r.verified %}
                                                        {% csrf_token %}
                                                        | <input type="submit" class="pb-1 p-0 btn btn-link text-danger" name="submit" value="Hapus" />
                                                    {% endif %}
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}

                    <form method="POST" enctype="multipart/form-data" class="col-12" action="">
                        {% crispy form %}
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock main %}
{% block js %}
    <script type="text/javascript">
     var verifikasi = '{{ data.verified }}';
    </script>
    <script type="text/javascript" src="{% static 'participant_profile/js/jquery-auto-resize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'participant_profile/js/primaseru.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
{% endblock js %}
