{% extends 'homepage/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="{% static 'dashboard/css/insert_participant.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'participant_profile/css/primaseru.css' %}" type="text/css" media="screen" />
{% endblock head %}
{% block navbar %}{% endblock navbar %}
{% block container %}container-fluid{% endblock container %}
{% block main %}


    <div class="row mx-1 mx-sm-4 my-0 my-sm-3 py-2 pt-4">
        <div class="col text-center ml-3">
            <img src="{{ user.photoprofile.image.url }}" alt="photo profile" width="175" height="175" />
        </div>
        <div class="col-sm-9">
            {% if pay %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Selamat!</strong> Bergabung di Keluarga SMK Telkom bandung.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <div class="border rounded p-3 mt-3 mt-md-0 bg-white">
                <h1 class="judul">{{ user.participant.full_name|title  }} </h1>
                <h6 class="text-muted mb-1">Asal Sekolah: {{ user.participantprofile.school_origin|upper  }}</h6>
                <h6 class="text-muted">Nomor Peserta: {{ user.participant.registration_number  }}</h6>
            </div>
            <div class="mt-3">
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'logout' %}">Logout</a>
                <a class="btn btn-info btn-sm" href="{% url 'id-card' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                        <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                    </svg>
                    Kartu Peserta
                </a>
                <a class="btn btn-danger btn-sm" href="{% url 'set-photo-profile' %}">
                    Unggah Photo
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 px-2 px-lg-5 bg-light border-bottom border-top">
            <div class="nav nav-fill mx-0 mx-lg-5 px-0 px-lg-3" id="v-pills-tab" role="navigation">
                <a class="nav-link tab-profile" href="{% url 'participant-major' %}" role="tab">Jurusan</a>
                <a class="nav-link tab-profile" href="{% url 'participant-profile' %}" role="tab">Data Pribadi</a>
                <a class="nav-link tab-profile" href="{% url 'participant-father' %}" role="tab">Data Ayah</a>
                <a class="nav-link tab-profile" href="{% url 'participant-mother' %}" role="tab">Data Ibu</a>
                <a class="nav-link tab-profile" href="{% url 'participant-guardian' %}" role="tab">Data Wali</a>
                <a class="nav-link tab-profile" href="{% url 'participant-kk' %}" role="tab">Berkas</a>
                {% if lms %}
                <a class="nav-link tab-profile" href="{% url 'participant-lms' %}" role="tab">Akun LMS</a>
                <a class="nav-link tab-profile" href="{% url 'participant-graduation' %}" role="tab">Kelulusan</a>
                {% endif %}
                {% if passed %}
                <a class="nav-link tab-profile" href="{% url 'participant-payment' %}" role="tab">Pembayaran Daftar ulang</a>
                {% endif %}
                {% if pay %}
                <a class="nav-link tab-profile" href="{% url 'participant-raport' %}" role="tab">Berkas Daftar Ulang</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row bg-light pt-3">
        <div class="container">
            <div class="col-sm-12">
                <div class="row shadow rounded py-2 bg-white min-vh mb-4">

                    <div class="card card-bg mt-3 mx-4">
                        <div class="card-body">
                            <h4 class="card-title judul">
                                {% if name == 'jurusan' %}
                                    Pemilihan {{ name|capfirst  }}
                                {% else %}
                                    {{ name|capfirst  }}
                                {% endif %}
                            </h4>
                            <p class="card-text">
                                {% if name == 'jurusan' %}
                                    Silahkan memilih {{ name|capfirst }} Anda sesuai minat, jika terdapat tanda bintang (<span class="text-danger">*</span>) berarti wajib diisi.
                                    <samp class="text-danger">Jurusan yang sudah dipilih tidak bisa diubah.</samp>
                                {% elif name == 'Pembayaran Daftar Ulang' %}
                                    Silahkan Mengunggah {{ name }} sesuai kolom yang tersedia, harap melakukan scan terhadap file yang akan di unggah, supaya terlihat jelas. Pembayaran
                                    Daftar Ulang dapat dilakukan maksimal selama tiga kali.
                                {% else %}
                                    {% if name == 'wali' %}
                                        <p class="p-2 border bg-white"><b>Jika tidak mempunyai Wali, boleh formulir ini dikosongkan.</b></p>
                                    {% endif %}
                                    Silahkan melengkapi data {{ name|capfirst }} Anda sesuai kolom yang tersedia, jika terdapat tanda bintang (<span class="text-danger">*</span>) berarti wajib diisi.
                                    <samp class="text-danger">Data yang sudah terverifikasi tidak bisa diubah.</samp>
                                {% endif %}
                            </p>
                                {% if data.verified %}
                                    Status : <span class="badge badge-success">Terverifikasi</span>
                                {% else %}
                                    Status : <span class="badge badge-warning">Belum Terverifikasi</span>
                                {% endif %}
                        </div>
                    </div>

                    <form method="POST" enctype="multipart/form-data" class="col-12" action="">
                        {% crispy form %}
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock main %}
{% block js %}
    <script type="text/javascript">
     var verifikasi = '{{ data.verified }}';
    </script>
    <script type="text/javascript" src="{% static 'participant_profile/js/jquery-auto-resize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'participant_profile/js/primaseru.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
{% endblock js %}
