{% load crispy_forms_tags %}
{% load static %}
<div class="card card-bg mx-3 mb-3">
    <div class="card-body">
        <h4 class="card-title judul">
            {% if name == 'jurusan' %}
                Pemilihan {{ name|capfirst  }}
            {% else %}
                Identitas {{ name|capfirst  }}
            {% endif %}
        </h4>
        <p class="card-text">
            {% if name == 'jurusan' %}
                Silahkan memilih {{ name|capfirst }} Anda sesuai minat, jika terdapat tanda bintang (<span class="text-danger">*</span>) berarti wajib diisi.
                <samp class="text-danger">Jurusan yang sudah dipilih tidak bisa diubah.</samp>
            {% else %}
                {% if name == 'wali' %}
                    <p class="p-2 border">Jika tidak mempunyai Wali, boleh dikosongkan.</p>
                {% endif %}
                Silahkan melengkapi data {{ name|capfirst }} Anda sesuai kolom yang tersedia, jika terdapat tanda bintang (<span class="text-danger">*</span>) berarti wajib diisi.
                <samp class="text-danger">Data yang sudah terverifikasi tidak bisa diubah.</samp>
            {% endif %}
        </p>
        {% if data.verified %}
        Status : <span class="badge badge-success">Terverifikasi</span>
        {% else %}
        Status : <span class="badge badge-warning">Belum Terverifikasi</span>
        {% endif %}
    </div>
</div>
<div id="form-body-{{ name  }}">
    {% crispy form %}
</div>
<!-- <script type="text/javascript">
     function datePicker(){
     $('.dateinput').daterangepicker({
     singleDatePicker: true,
     showDropdowns: true,
     minYear: 1930,
     maxYear: parseInt(moment().format('YYYY'),10) + 5,
     locale: {
     'format': "DD/MM/YYYY",
     'daysOfWeek': [
     "Min",
     "Sen",
     "Sel",
     "Rab",
     "Kam",
     "Jum",
     "Sab",
     ]
     }
     });
     }
     </script> -->
<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
