{% extends 'participant_profile/primaseru.html' %}
{% load crispy_forms_tags %}
{% block pre-form %}
    <div class="row">
        <div class="col m-0 m-md-3">
            <div class="table-responsive-md">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Semester</th>
                            <th scope="col">Verifikasi</th>
                            <th scope="col">Berkas Raport</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in data %}
                        <tr>
                            <th scope="row">{{ forloop.counter  }}</th>
                            <td>{{ r.get_semester_display  }}</td>
                            <td>
                                {% if r.verified %}
                                <span class="badge badge-success">Terverifikasi</span>
                                {% else %}
                                <span class="badge badge-warning">Belum Terverifikasi</span>
                                {% endif %}
                            </td>
                            <td>
                                <form method="POST" action="{% url 'participant-raport-delete' r.pk %}">
                                    <a class="pb-1" href="{{ r.raport.url  }}">Unduh</a>
                                    {% if not r.verified %}
                                    {% csrf_token %}
                                    | <input type="submit" class="pb-1 p-0 btn btn-link text-danger" name="submit"
                                        value="Hapus" />
                                    {% endif %}
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
{% endblock pre-form %}
{% block content %}
{% crispy form %}
{% endblock content %}

