{% extends 'homepage/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="{% static 'dashboard/css/insert_participant.css' %}" type="text/css" media="screen" />
    <style type="text/css" media="screen">
     .min-vh{
         min-height: 50vh;
     }
     .banner {
         border-radius: 0.25rem;
         color: #fff;
         background-color: #FF0000;
     }
     .nav .nav-link:hover::after {
         width: 100%;
     }
     #v-pills-tab .nav-link:hover {
         border-bottom: 2px solid #aaa;
     }
     #v-pills-tab .nav-link.active{
         color: red;
         border-bottom: 2px solid red;
         background: #fff;
     }
     .card-detail {
         background-color: #fff2f4;
         border-color: #ffc9c6;
     }
     legend {
         display: inline !important;
         font-family: 'Source Sans Pro', sans-serif;
         width: auto !important;
         max-width: 100%;
         padding: 0 0.5rem !important;
         margin-bottom: .5rem;
         font-size: 1.75rem;
         line-height: inherit;
         color: inherit;
         white-space: normal;
     }
    </style>
{% endblock head %}
{% block navbar %}{% endblock navbar %}
{% block container %}container-fluid{% endblock container %}
{% block main %}


    <div class="row mx-1 mx-sm-4 my-0 my-sm-3 py-2 pt-4">
        <div class="col text-center ml-3">
            <img src="{{ user.photoprofile.image.url }}" alt="photo profile" width="175" height="175" />
        </div>
        <div class="col-sm-9">
            <div class="border rounded p-3 mt-3 mt-md-0 bg-white">
                <h1 class="judul">{{ user.participant.full_name|title  }} </h1>
                <h6 class="text-muted mb-1">Asal Sekolah: {{ user.participantprofile.school_origin|upper  }}</h6>
                <h6 class="text-muted">Nomor Peserta: {{ user.participant.registration_number  }}</h6>
            </div>
            <div class="mt-3">
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'logout' %}">Logout</a>
                <a class="btn btn-info btn-sm" href="{% url 'id-card' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                        <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                    </svg>
                    Kartu Peserta
                </a>
                <a class="btn btn-danger btn-sm" href="{% url 'set-photo-profile' %}">
                    Unggah Photo
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 px-2 px-lg-5 bg-light border-bottom border-top">
            <div class="nav nav-fill mx-0 mx-lg-5 px-0 px-lg-3" id="v-pills-tab" role="navigation">
                <a class="nav-link tab-profile" href="{% url 'participant-major' %}" role="tab">Jurusan</a>
                <a class="nav-link tab-profile" href="{% url 'participant-kk' %}" role="tab">Unggah KK</a>
                <a class="nav-link tab-profile" href="{% url 'participant-lms' %}" role="tab">Akun LMS</a>
                <a class="nav-link tab-profile" href="{% url 'participant-graduation' %}" role="tab">Kelulusan</a>
                {% if pass_test == 'L' %}
                <a class="nav-link tab-profile" href="{% url 'participant-profile' %}" role="tab">Data Pribari</a>
                <a class="nav-link tab-profile" href="{% url 'participant-father' %}" role="tab">Data Ayah</a>
                <a class="nav-link tab-profile" href="{% url 'participant-mother' %}" role="tab">Data Ibu</a>
                <a class="nav-link tab-profile" href="{% url 'participant-guardian' %}" role="tab">Data Wali</a>
                <a class="nav-link tab-profile" href="{% url 'participant-payment' %}" role="tab">Pembayaran Daftar ulang</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row bg-light pt-3">
        <div class="container">
            <div class="col-sm-12">
                <div class="row shadow rounded py-2 bg-white min-vh mb-4">

                    <div class="card card-bg mt-3 mx-4">
                        <div class="card-body">
                            <h4 class="judul">
                            {{ name|capfirst  }}
                            </h4>
                            <hr />
                            <p class="card-text">
                                Silahkan Mengunggah {{ name }} sesuai kolom yang tersedia, harap melakukan <b>scan</b> terhadap file yang akan di unggah, supaya terlihat jelas. Pembayaran
                                Daftar Ulang dapat dilakukan maksimal selama <b>tiga kali</b>.
                            </p>
                            <hr />
                            <p>
                                Lakukan pembayaran daftar ulang ke Nomor Virtual Account <b>Mandiri</b> dan <b>CIMB Niaga</b>. <br />
                            </p>
                            <p>
                                <span class="card-detail border border-danger rounded p-2">Nomor Virtual Account: {{ data.virt_acc_number  }}</span>
                            </p>
                            <hr />
                            <div class="row px-3">
                                <div class="card-detail border border-danger ml-0 mb-2 mb-md-0 p-2 rounded col-12 col-md">
                                    <h5 class="judul"><b>Pembayaran Pertama</b></h5>
                                    <hr class="my-2" />
                                    {% if data.verified_1 %}
                                        Status : <span class="badge badge-success">Terverifikasi</span>
                                    {% else %}
                                        Status : <span class="badge badge-warning">Belum Terverifikasi</span>
                                    {% endif %}
                                    <p>
                                        Nominal Pembayaran: Rp. {{ data.pay_mount_1|floatformat:"0g" }},- <br />
                                        Tenggat Pembayaran: {{ data.deadline_1|date:'d F Y'  }}
                                    </p>
                                </div>
                                <div class="card-detail border border-danger  mx-md-2 ml-0 mb-2 mb-md-0 p-2 rounded col-12 col-md">
                                    <h5 class="judul"><b>Pembayaran Kedua</b></h5>
                                    <hr class="my-2" />
                                    {% if data.verified_1 %}
                                        Status : <span class="badge badge-success">Terverifikasi</span>
                                    {% else %}
                                        Status : <span class="badge badge-warning">Belum Terverifikasi</span>
                                    {% endif %}
                                    <p>
                                        Nominal Pembayaran: Rp. {{ data.pay_mount_2|floatformat:"0g" }},- <br />
                                        Tenggat Pembayaran: {{ data.deadline_2|date:'d F Y'  }}
                                    </p>
                                </div>
                                <div class="card-detail border border-danger ml-0 mb-2 mb-md-0 p-2 rounded col-12 col-md">
                                    <h5 class="judul"><b>Pembayaran Ketiga</b></h5>
                                    <hr class="my-2" />
                                    {% if data.verified_1 %}
                                        Status : <span class="badge badge-success">Terverifikasi</span>
                                    {% else %}
                                        Status : <span class="badge badge-warning">Belum Terverifikasi</span>
                                    {% endif %}
                                    <p>
                                        Nominal Pembayaran: Rp. {{ data.pay_mount_3|floatformat:"0g" }},- <br />
                                        Tenggat Pembayaran: {{ data.deadline_3|date:'d F Y'  }}
                                    </p>
                                </div>
                            </div>


                            {% if data.comment_1 %}
                                <div class="border bg-white p-2 rounded">
                                    <h5 class="judul">Komentar Pembayaran Ke-1</h5>
                                    <p class="mb-0">
                                        {{ data.comment_1  }}
                                    </p>
                                </div>
                            {% endif %}
                            {% if data.comment_2 %}
                                <div class="border bg-white p-2 rounded">
                                    <h5 class="judul">Komentar Pembayaran Ke-1</h5>
                                    <p class="mb-0">
                                        {{ data.comment_2  }}
                                    </p>
                                </div>
                            {% endif %}
                            {% if data.comment_3 %}
                                <div class="border bg-white p-2 rounded">
                                    <h5 class="judul">Komentar Pembayaran Ke-1</h5>
                                    <p class="mb-0">
                                        {{ data.comment_3  }}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <form method="POST" enctype="multipart/form-data" class="col-12" action="">
                        {% crispy form %}
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock main %}
{% block js %}
    <script type="text/javascript">
     var verifikasi = '{{ data.verified }}';
    </script>
    <script type="text/javascript" src="{% static 'participant_profile/js/jquery-auto-resize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'participant_profile/js/primaseru.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
{% endblock js %}
