{% extends 'participant_profile/primaseru.html' %}
{% load crispy_forms_tags %}
{% block banner-text %}{% endblock banner-text %}
{% block pre-form %}

<div class="row">
    <div class="col mx-3">
        <div class="bg-white border rounded px-3 py-2 my-3">
            <h4 class="judul">
                Silahkan Unggah Pas Photo dengan Ketentuan:
            </h4>
            <p>
                <ul>
                    <li>Berlatar belakang merah.</li>
                    <li>Berpakaian rapih dan formal.</li>
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock pre-form %}
{% block content %}
{% crispy form %}
<button type="submit" class="btn btn-danger btn-block mb-2">Unggah Photo</button>
{% endblock content %}
