{% extends 'homepage/base.html' %}
{% load static %}
{% block navbar %}{% endblock navbar %}
{% block body-color %}{% endblock body-color %}
{% block head %}
    <style type="text/css" media="screen">
     .no-border td {
         border: none !important;
     }
     .header {
         background: #CC0000;
     }
     tbody tr th, td {
         border: 1px solid black !important;
     }
     .header-table {
         border: 1px solid black;
         background: #CC0000;
         color: #fff;
     }
     .bg-abu {
         background: #E7E6E6;
     }
     #photo-profile {
         width: 170px;
         height: 200px;
     }
     #id-card {
         display: grid;
         place-items: center;
         background: #fff;
     }
    </style>
{% endblock head %}
{% block container %}
    container-fluid
{% endblock container %}
{% block main %}


    <div id="id-card">
        <div class="d-flex justify-content-between header w-100 text-center text-white p-3">
            <img src="{% static 'homepage/images/logo-putih.png' %}" class="img-fluid" width="200" />
            <h1>Surat Kelulusan</h1>
            <img src="{% static 'homepage/images/Primaseru_2022.png' %}" alt="" width="180" />
        </div>

        <div class="mx-5 mb-3 mt-5 px-3 w-75 container">
            <table class="table border border-dark" style="font-size: 1.2rem;">
                <tbody>
                    <tr>
                        <th colspan="3" class="py-1 header-table"><h5><b>Data Pendaftar</b></h5></th>
                    </tr>
                    <tr class="bg-abu">
                        <th scope="row">No. Pendaftar</th>
                        <td>{{ data.registration_number  }}</td>
                        <td rowspan="3" class="text-center">
                            <img src="{{  image.image.url }}" alt="photo-profile" id="photo-profile"/>
                        </td>
                    </tr>
                    <tr class="bg-abu">
                        <th scope="row">Nama Lengkap</th>
                        <td>{{ data.full_name  }}</td>
                    </tr>
                    <tr class="bg-abu">
                        <th scope="row">Asal Sekolah</th>
                        <td>{{ data.previous_school|upper  }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mx-5 px-3 w-75">
            <table class="table border border-dark" style="font-size: 1.2rem">
                <tbody>
                    <tr>
                        <th class="py-1 h-50 header-table"><h5><b>Selamat Anda diterima pada program studi</b></h5></th>
                        <th rowspan="2" class="text-center bg-abu">
                            {% if graduation.chose_major == 'TKJ' %}
                            <img src="{% static 'homepage/images/logo-tkj-l.png' %}" alt="photo-profile" class="img-fluid" />
                            {% elif graduation.chose_major == 'MM' %}
                            <img src="{% static 'homepage/images/logo-mm-l.png' %}" alt="photo-profile" class="img-fluid" />
                            {% elif graduation.chose_major == 'TJAT' %}
                            <img src="{% static 'homepage/images/logo-tjat-l.png' %}" alt="photo-profile" class="img-fluid" />
                            {% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th style="font-size: 1.3rem; vertical-align: middle;" class="bg-abu text-center">
                            <h2><b>{{ graduation.get_chose_major_display|upper  }}</b></h2>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mx-5 px-3 w-75">
            <table class="table border border-dark" style="font-size: 1.2rem">
                <tbody>
                    <tr>
                        <th colspan="3" class="py-1 header-table"><h5><b>Info PRIMASERU</b></h5></th>
                    </tr>
                    <tr>
                        <td style="font-size: 1.3rem" class="bg-abu">
                            Panitia Penerimaan Peserta Didik Baru (PRIMASERU) SMK Telkom Bandung Tahun Ajaran 2022 – 2023 dengan ingin mengumumkan
                            kepada peserta PRIMASERU, bahwa berdasarkan hasil rapat penetapan seleksi PRIMASERU
                            tanggal <b>{{ test.schedule|date:'d F Y' }}</b> s/d <b>{{ graduation.updated_at|date:'d F Y' }}</b> yang diikuti oleh semua panitia, telah ditetapkan hasil
                            seleksi PRIMASEU tahun ajaran 2022 – 2023 sebagaimana telah tercantum diatas.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mx-5 px-3 w-75">
            <table class="table border border-dark" style="font-size: 1.2rem">
                <tbody>
                    <tr>
                        <th colspan="3" class="py-1 header-table"><h5><b>Info Registrasi Ulang</b></h5></th>
                    </tr>
                    <tr>
                        <td style="font-size: 1.3rem" class="bg-abu">
                            Anda harus melakukan pendaftaran ulang kepada panitia PRIMASERU. Untuk Informasi Pendaftaran ulang SMK TELKOM BANDUNG bisa
                            juga cek pada website primaseru dan akan di informasikan juga oleh Panitia PRIMASERU Kepada orang tua calon
                            siswa/i SMK Telkom Bandung.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock main %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/dom-to-image.min.js' %}"></script>
    <script type="text/javascript">
     var node = document.getElementById('id-card');

     domtoimage.toPng(node)
               .then(function (dataUrl) {
                   var link = document.createElement('a');
                   link.download = 'surat_kelulusan.jpeg';
                   link.href = dataUrl;
                   link.click();
               })
               .catch(function (error) {
                   console.error('oops, something went wrong!', error);
               });

    </script>
{% endblock js %}
