<!doctype html>
{% load static %}
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Surat Kelulusan</title>
        <link rel="stylesheet" href="{% static 'participant_profile/css/id-card.css' %}" type="text/css" media="screen" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <section class="toolbar">
            <hr />
            <button id="unduh">Download Surat Kelulusan</button>
            <hr />
        </section>

        <main id="main">
            <section id="id-card">

                <div class="bg-red header">
                    <img src="{% static 'homepage/images/logo-putih.png' %}"  width="180" />
                    <h1>Surat Kelulusan</h1>
                    <img src="{% static 'homepage/images/Primaseru_2022.png' %}"  width="130" />
                </div>

                <section class="data-pendaftar">
                    <table class="table border border-dark">
                        <tbody>
                            <tr>
                                <th colspan="3" class="header-table"><h4><b>Data Pendaftar</b></h4></th>
                            </tr>
                            <tr class="bg-abu">
                                <th scope="row">No. Pendaftar</th>
                                <td>{{ data.registration_number  }}</td>
                                <td rowspan="3" class="text-center">
                                    <img src="{{  image.image.url }}" alt="photo-profile" id="photo-profile"/>
                                </td>
                            </tr>
                            <tr class="bg-abu">
                                <th scope="row">Nama Lengkap</th>
                                <td>{{ data.full_name  }}</td>
                            </tr>
                            <tr class="bg-abu">
                                <th scope="row">Asal Sekolah</th>
                                <td>{{ data.previous_school|upper  }}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <section class="data-pendaftar">
                    <table class="table border border-dark">
                        <tbody>
                            <tr>
                                <th colspan="2" class="header-table"><h5><b>Selamat Anda diterima pada program studi</b></h5></th>
                            </tr>
                            <tr>
                                <th style="font-size: 1.2rem; vertical-align: middle" class="bg-abu">
                                    <h2 class="text-center"><b>{{ graduation.get_chose_major_display|upper  }}</b></h2>
                                </th>
                                <th class="text-center bg-abu">
                                    {% if graduation.chose_major == 'TKJ' %}
                                        <img src="{% static 'homepage/images/logo-tkj-l.png' %}" alt="photo-profile" class="img-fluid" />
                                    {% elif graduation.chose_major == 'MM' %}
                                        <img src="{% static 'homepage/images/logo-mm-l.png' %}" alt="photo-profile" class="img-fluid" />
                                    {% elif graduation.chose_major == 'TJAT' %}
                                        <img src="{% static 'homepage/images/logo-tjat-l.png' %}" alt="photo-profile" class="img-fluid" />
                                    {% endif %}
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </section>

            <section class="data-pendaftar">
                <table class="table border border-dark">
                    <tbody>
                        <tr>
                            <th colspan="3" class="py-1 header-table"><h5><b>Info PRIMASERU</b></h5></th>
                        </tr>
                        <tr>
                            <td class="bg-abu">
                                Panitia Penerimaan Peserta Didik Baru (PRIMASERU) SMK Telkom Bandung Tahun Ajaran 2022 – 2023 dengan ini mengumumkan
                                kepada peserta PRIMASERU, bahwa berdasarkan hasil rapat penetapan seleksi PRIMASERU
                                tanggal <b>{{ test.schedule|date:'d F Y' }}</b> s/d <b>{{ graduation.updated_at|date:'d F Y' }}</b> yang diikuti oleh semua panitia, telah ditetapkan hasil
                                seleksi PRIMASEU tahun ajaran 2022 – 2023 sebagaimana telah tercantum diatas.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section class="data-pendaftar">
                <table class="table border border-dark" style="font-size: 1.2rem">
                    <tbody>
                        <tr>
                            <th colspan="3" class="py-1 header-table"><h5><b>Info Registrasi Ulang</b></h5></th>
                        </tr>
                        <tr>
                            <td class="bg-abu">
                                Anda harus melakukan pendaftaran ulang kepada panitia PRIMASERU. Untuk Informasi Pendaftaran ulang SMK TELKOM BANDUNG bisa
                                juga cek pada website primaseru dan akan di informasikan juga oleh Panitia PRIMASERU Kepada orang tua calon
                                siswa/i SMK Telkom Bandung.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

        </main>

    </body>
    <script type="text/javascript">
     var name = 'Surat Kelulusan';
    </script>
    <script type="text/javascript" src="{% static 'js/dom-to-image.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/file-saver.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'participant_profile/js/screenshoot.js' %}"></script>
</html>
