.min-vh{
    min-height: 50vh;
}
.banner {
    border-radius: 0.25rem;
    color: #fff;
    background-color: #FF0000;
}
.nav .nav-link:hover::after {
    width: 100%;
}
#v-pills-tab .nav-link:hover {
    border-bottom: 2px solid #aaa;
}
#v-pills-tab .nav-link.active{
    color: red;
    border-bottom: 2px solid red;
}
#v-pills-tab .nav-link.active::before{
    color: red;
}
.card-bg {
    background-color: #fff2f4;
    border-color: #ffc9c6;
}
legend {
    display: inline !important;
    font-family: 'Source Sans Pro', sans-serif;
    width: auto !important;
    max-width: 100%;
    padding: 0 0.5rem !important;
    margin-bottom: .5rem;
    font-size: 1.75rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
