{% extends 'homepage/home.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'homepage/css/achievements.css' %}" type="text/css" media="screen" />
{% endblock head %}

{% block container %}
{% endblock container %}

{% block body-color %}{% endblock body-color %}
{% block main %}

  <div class="jumbotron">
    <h1 class="heading-section">Prestasi Siswa-siswi</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Beranda</a></li>
        <li class="breadcrumb-item active" aria-current="page">Prestasi</li>
      </ol>
    </nav>
  </div>

<div class="container">
  <div class="grid">
    <div class="grid-sizer"></div>
    
    <!-- Prestasi masonry -->
    <div class="grid-item">
      <div class="prestasi-wrapper">
        <img src="{% static 'homepage/images/achievements/prestasi-1.jpg' %}" alt="Juara 3 Web Design SKOMDA ACT - M. Iqbal alumni XII TKJ 3">                    

        <!-- slide description -->
        <a class="prestasi-desc" href="https://www.instagram.com/p/Cf5hDMkhl_W/" target="_blank">
          <div class="desc-txt">
            <h1 class="m-0">Juara 3 Web Design SKOMDA ACT</h1>
            <p class="mb-2">M. Iqbal alumni XII TKJ 3</p>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #FFFFFF;transform: ;msFilter:;"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
        </a>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="prestasi-wrapper">
        <img src="{% static 'homepage/images/achievements/prestasi-2.jpg' %}" alt="Juara 1 Desain Poster Digital SIK UPI - Vania Rahma Diyanti XII MM 1">                    

        <!-- slide description -->
        <a class="prestasi-desc" href="https://www.instagram.com/p/CcCn7rQBEe-/" target="_blank">
          <div class="desc-txt">
            <h1 class="m-0">Juara 1 Desain Poster Digital SIK UPI</h1>
            <p class="mb-2">Vania Rahma Diyanti XII MM 1</p>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #FFFFFF;transform: ;msFilter:;"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
        </a>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="prestasi-wrapper">
        <img src="{% static 'homepage/images/achievements/prestasi-3.jpg' %}" alt="Penghargaan Medali Emas & Perak pada Kejuaraan Taekwondo ITN Open V 2022">                    

        <!-- slide description -->
        <a class="prestasi-desc" href="https://www.instagram.com/p/CbcYC0EBkMt/" target="_blank">
          <div class="desc-txt">
              <h1 class="m-0">Penghargaan Medali Emas & Perak pada Kejuaraan Taekwondo ITN Open V 2022</h1>
              <p class="mb-2"></p>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #FFFFFF;transform: ;msFilter:;"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
        </a>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="prestasi-wrapper">
        <img src="{% static 'homepage/images/achievements/prestasi-4.jpg' %}" alt="Juara 2 & Presentasi terbaik Taruna Bakti Social Innovation Award 2022">                    

        <!-- slide description -->
        <a class="prestasi-desc" href="https://www.instagram.com/p/CbEnpc6PaR1/" target="_blank">
            <div class="desc-txt">
                <h1 class="m-0">Juara 2 & Presentasi terbaik Taruna Bakti Social Innovation Award 2022</h1>
                <p class="mb-2">Dzaki Muhammad Hilmi XI TKJ 2, Sitti Naurah Bauw X MM 1, Vidi Ramadhan Adhyaksa X MM 1</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #FFFFFF;transform: ;msFilter:;"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
        </a>
      </div>
    </div>

    <div class="grid-item">
      <div class="prestasi-wrapper">
        <img src="{% static 'homepage/images/achievements/prestasi-5.jpg' %}" alt="Juara 1 Poomsae Indonesia Expo Battle 2 2022">                    

        <!-- slide description -->
        <a class="prestasi-desc" href="https://www.instagram.com/p/CZd_p31BTe3/" target="_blank">
            <div class="desc-txt">
                <h1 class="m-0">Juara 1 Poomsae Indonesia Expo Battle 2 2022</h1>
                <p class="mb-2">Ryzqa Buana Putri X MM3, Amelia Rizkyani XII TKJ 1, Syakira Azzahra Loryan XII TKJ 2</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #FFFFFF;transform: ;msFilter:;"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
        </a>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="prestasi-wrapper">
        <img src="{% static 'homepage/images/achievements/prestasi-1.jpg' %}" alt="Juara 3 Web Design SKOMDA ACT - M. Iqbal alumni XII TKJ 3">                    

        <!-- slide description -->
        <a class="prestasi-desc" href="https://www.instagram.com/p/Cf5hDMkhl_W/" target="_blank">
          <div class="desc-txt">
            <h1 class="m-0">Juara 3 Web Design SKOMDA ACT</h1>
            <p class="mb-2">M. Iqbal alumni XII TKJ 3</p>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #FFFFFF;transform: ;msFilter:;"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
        </a>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="prestasi-wrapper">
        <img src="{% static 'homepage/images/achievements/prestasi-2.jpg' %}" alt="Juara 1 Desain Poster Digital SIK UPI - Vania Rahma Diyanti XII MM 1">                    

        <!-- slide description -->
        <a class="prestasi-desc" href="https://www.instagram.com/p/CcCn7rQBEe-/" target="_blank">
          <div class="desc-txt">
            <h1 class="m-0">Juara 1 Desain Poster Digital SIK UPI</h1>
            <p class="mb-2">Vania Rahma Diyanti XII MM 1</p>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #FFFFFF;transform: ;msFilter:;"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
        </a>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="prestasi-wrapper">
        <img src="{% static 'homepage/images/achievements/prestasi-3.jpg' %}" alt="Penghargaan Medali Emas & Perak pada Kejuaraan Taekwondo ITN Open V 2022">                    

        <!-- slide description -->
        <a class="prestasi-desc" href="https://www.instagram.com/p/CbcYC0EBkMt/" target="_blank">
          <div class="desc-txt">
              <h1 class="m-0">Penghargaan Medali Emas & Perak pada Kejuaraan Taekwondo ITN Open V 2022</h1>
              <p class="mb-2"></p>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #FFFFFF;transform: ;msFilter:;"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
        </a>
      </div>
    </div>
    
    <div class="grid-item">
      <div class="prestasi-wrapper">
        <img src="{% static 'homepage/images/achievements/prestasi-4.jpg' %}" alt="Juara 2 & Presentasi terbaik Taruna Bakti Social Innovation Award 2022">                    

        <!-- slide description -->
        <a class="prestasi-desc" href="https://www.instagram.com/p/CbEnpc6PaR1/" target="_blank">
            <div class="desc-txt">
                <h1 class="m-0">Juara 2 & Presentasi terbaik Taruna Bakti Social Innovation Award 2022</h1>
                <p class="mb-2">Dzaki Muhammad Hilmi XI TKJ 2, Sitti Naurah Bauw X MM 1, Vidi Ramadhan Adhyaksa X MM 1</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #FFFFFF;transform: ;msFilter:;"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
        </a>
      </div>
    </div>

    <div class="grid-item">
      <div class="prestasi-wrapper">
        <img src="{% static 'homepage/images/achievements/prestasi-5.jpg' %}" alt="Juara 1 Poomsae Indonesia Expo Battle 2 2022">                    

        <!-- slide description -->
        <a class="prestasi-desc" href="https://www.instagram.com/p/CZd_p31BTe3/" target="_blank">
            <div class="desc-txt">
                <h1 class="m-0">Juara 1 Poomsae Indonesia Expo Battle 2 2022</h1>
                <p class="mb-2">Ryzqa Buana Putri X MM3, Amelia Rizkyani XII TKJ 1, Syakira Azzahra Loryan XII TKJ 2</p>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #FFFFFF;transform: ;msFilter:;"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
        </a>
      </div>
    </div>

  </div>
</div>

{% endblock main %}
{% block js %}
{{ block.super }}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="js/main.js"></script>
<script>
  const elemen = document.querySelector('.grid');
  const prestasi_grid = new Masonry( elemen, {
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true,
  });
</script>
{% endblock js %}
