{% extends 'homepage/base.html' %}
{% load static %}
{% block navbar %}{% endblock navbar %}
{% block head %}
    <link rel="stylesheet" href="{% static 'users/css/floating-labels.css' %}" type="text/css" media="screen" />
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
{% endblock head %}
{% block main %}
    <div class="p-3">
        <form class="form-signin login-form  rounded p-5 mt-5 mt-sm-4 bg-white shadow" method="POST">
            {% csrf_token %}
            <div class="text-center mb-4">
                <img src="{% static 'users/images/Sekunder.png'  %}" alt="logo smk telkom bandung" width="125vh" />
                <h1 class="h3 my-3 font-weight-normal judul">Login Primaseru</h1>
                <p class="text-muted">Jika belum mempunyai akun atau ingin <b>mendaftar</b> di <b>SMK Telkom Bandung</b> silahkan klik <a href="https://bit.ly/InfoPPDBSMKTelBdg9">disini.</a></p>
            </div>

            <div class="form-label-group">
                {% if form.errors %}
                    <div class="alert alert-danger text-center" role="alert">
                        Username dan Password tidak valid!
                    </div>
                    <p class="text-muted text-center small m-0">Besar kecil huruf berpengaruh.</p>
                {% endif %}
            </div>

            <div class="form-label-group">
                {% if form.username.value %}
                <input type="text" name="{{ form.username.name }}" id="inputUsername" value="{{ form.username.value }}" class="form-control" placeholder="Nomor Pendaftaran" required autofocus>
                {% else %}
                <input type="text" name="{{ form.username.name }}" id="inputUsername" class="form-control" placeholder="Nomor Pendaftaran" required autofocus>
                {% endif %}
                <label for="inputUsername">Nomor Pendaftaran</label>
            </div>

            <div class="form-label-group">
                <input type="password" name="{{ form.password.name }}" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
            </div>

            <button class="btn btn-lg btn-danger btn-block login-button" type="submit">Login</button>
        </form>
    </div>

{% endblock main %}
{% block js %}
    <script src="{% static 'users/js/login.js' %}" type="text/javascript"></script>
{% endblock js %}
