{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}Dashboard Primaseru{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'dashboard/css/sidenav.css' %}" type="text/css" media="screen" />
{% endblock head %}
{% block navbar %}{% endblock navbar %}
{% block dashboard %}

    <div id="mySidenav" class="sidenav shadow">
        <div class="py-3 px-2 bg-peach text-white judul">
            <img src="{% static 'homepage/images/prima_1.png' %}" width="32" height="32" class="mb-1" alt="logo primaseru" loading="lazy">
            Primaseru
        </div>
        <ul class="nav flex-column mt-2">
            <li class="nav-item">
                <a class="nav-link " href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-door-fill mb-1" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                    </svg>
                    <span class="ml-1">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock-fill mb-1" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    </svg>
                    <span class="ml-1">Daftar Jadwal Pendaftaran</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="container-fluid">
        <div class="row" id="main">
            <div class="col-12 col-lg-12">
                <nav class="navbar px-0 navbar-expand-lg navbar-dark bg-transparent">
                    <a class="navbar-brand" href="javascript:void(0)" id="openNav">
                        <span class="navbar-toggler-icon"></span>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="btn btn-light btn-sm" href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-12">
                <div class="caption text-white judul">
                    <h2 class="mb-0 mt-2">
                        {% block dashtitle %}
                            Dashboard Utama
                        {% endblock dashtitle %}
                    </h2>
                </div>
                {% block maindash %}
                {% endblock maindash %}
            </div>
        </div>

    </div>

{% endblock dashboard %}
{% block js %}
    <script type="text/javascript" src="{% static 'dashboard/js/dashboard.js' %}"></script>
{% endblock js %}
