{% extends 'homepage/base.html' %}
{% load static %}
{% block navbar %}{% endblock navbar %}
{% block body-color %}{% endblock body-color %}
{% block head %}
    <style type="text/css" media="screen">
     .no-border td {
         border: none !important;
     }
    </style>
{% endblock head %}
{% block main %}
    <div class="row mt-5">
        <div class="col-6 p-2 border border-dark bg-white">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div class="mb-1">
                    <img src="{%  static 'homepage/images/prima_1.png'  %}" width="82px" />
                </div>
                <p class="text-center m-0">
                    KARTU PESERTA <br />
                    <b>UJIAN MASUK</b><br />
                    SMK TELKOM BANDUNG<br />
                </p>
                <div class="">
                    <img src="{% static 'users/images/Sekunder.png'  %}" alt="logo smk telkom bandung" width="82px" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 border border-dark bg-white">
            <table class="table">
                <tbody>
                    <tr class="no-border">
                        <th scope="row">No. Peserta</th>
                        <td>:</td>
                        <td>{{ data.participant.participant.registration_number  }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nama Lengkap</th>
                        <td>:</td>
                        <td>{{ data.participant.participant.full_name  }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tempat, Tanggal Lahir</th>
                        <td>:</td>
                        <td>{{ data.city_born|capfirst  }}, {{ data.date_born  }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Asal Sekolah</th>
                        <td>:</td>
                        <td>{{ data.school_origin|upper  }}</td>
                    </tr>
                </tbody>
            </table>
            <img src="{{  image.image.url }}" class="border border-dark mb-3" width="114px" height="152px" />
        </div>
    </div>

{% endblock main %}

{% block js %}
    <script type="text/javascript">
     window.print();
    </script>
{% endblock js %}
