<div class="container">
    <div class="mx-0 mx-sm-5 py-0 p-sm-3 d-flex justify-content-center"  id="kartu-peserta">
        <div class="w-s-100">
            <h4 class='judul text-center mb-0 font-weight-bold'>
            Akun Peserta Primaseru
        </h4>
        <div class="px-0 px-sm-3 py-3 py-sm-4 judul">
            <div class="media rounded-lg border mb-2 p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="currentColor" class="bi bi-person-fill icon danger" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <div class="media-body">
                    <p class="font-weight-bold mb-2">Nama Lengkap</p>
                    <p class="h5">{{ data.participant.participant.full_name  }}</p>
                </div>
            </div>
            <div class="media rounded-lg border my-2 p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="currentColor" class="p-2 bi bi-tag icon success" viewBox="0 0 16 16">
                    <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                    <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
                </svg>
                <div class="media-body">
                    <p class="font-weight-bold mb-2">Username</p>
                    <p class="h5">{{ data.username  }}</p>
                </div>
            </div>
            <div class="media rounded-lg border my-2 p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="currentColor" class="p-1 bi bi-key icon warning" viewBox="0 0 16 16">
                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                <div class="media-body">
                    <p class="font-weight-bold mb-2">Password</p>
                    <p class="h5">{{ data.password  }}</p>
                </div>
            </div>
        </div>
        </div>
    </div>

</div>
