{% extends 'dashboard/dashboard_base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    {{ block.super  }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock head %}

{% block dashtitle %}
    Data Halaman Pembayaran
{% endblock dashtitle %}

{% block maindash %}
    <div class="row mx-1">
        <div class="col bg-white rounded p-4 mx-3 my-3 shadow">
            <div class="border rounded px-3 pt-3 mb-3">
                <p>Halaman ini digunakan untuk meng-edit teks Peringatan Pembayaran.</p>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy  }}
                <input type="submit" value="Submit" class="btn btn-outline-primary">
            </form>
        </div>
    </div>

{% endblock maindash %}

{% block js %}
    {{ block.super  }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
{% endblock js %}
