{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    {{ block.super  }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{% static 'css/school-list.css' %}" type="text/css" media="screen" />
    <style type="text/css" media="screen">
     legend {
         display: inline !important;
         font-family: 'Source Sans Pro', sans-serif;
         width: auto !important;
         max-width: 100%;
         padding: 0 0.5rem !important;
         margin-bottom: .5rem;
         font-size: 1.75rem;
         line-height: inherit;
         color: inherit;
         white-space: normal;
     }
    </style>
{% endblock head %}
{% block dashtitle %}
    Detail Profile: <b>{{ participant_name.participant.full_name|capfirst }}</b>
{% endblock dashtitle %}
{% block maindash %}
    <div class="row">
        <div class="col-2 col-md-2 mb-3">
            <div class="list-group mt-4 shadow border-0">
                <li class="list-group-item">
                    <img src="{{ participant_name.photoprofile.image.url }}" alt="photo-profile" class="img-fluid" />
                </li>
                <a href="" class="list-group-item list-group-item-action disabled judul" tabindex="-1" aria-disabled="true"><b>Data Peserta PPDB</b></a>
                <a href="{% url 'export-files' pk %}" class="list-group-item list-group-item-action">Unduh Semua Berkas</a>
                <a href="{% url 'participant-detail' pk %}" class="list-group-item list-group-item-action">Akun Peserta</a>
                <a href="{% url 'participant-major' pk %}" class="list-group-item list-group-item-action">Jurusan Pilihan</a>
                <!-- <a href="" class="list-group-item list-group-item-action">Akun Ujian</a> -->
                <a href="{% url 'participant-family-cert' pk %}" class="list-group-item list-group-item-action">Berkas Siswa</a>
                <a href="{% url 'participant-graduation' pk %}" class="list-group-item list-group-item-action">Kelulusan</a>
                <a href="{% url 'participant-profile' pk %}" class="list-group-item list-group-item-action">Identitas Peserta</a>
                <a href="{% url 'participant-father' pk %}" class="list-group-item list-group-item-action">Identitas Ayah</a>
                <a href="{% url 'participant-mother' pk %}" class="list-group-item list-group-item-action">Identitas Ibu</a>
                <a href="{% url 'participant-guardian' pk %}" class="list-group-item list-group-item-action">Identitas Wali</a>
                <a href="{% url 'participant-payment' pk %}" class="list-group-item list-group-item-action">Pembayaran Daftar Ulang</a>
            </div>
        </div>
        <div class="col bg-white p-3 my-4 mr-3 shadow rounded">
            <div class="mx-3 p-3 border border-danger rounded" style="background: #fff2f2">
                <p class="m-0 judul">
                    Berikut adalah data <b>{{ text  }}</b>, silahkan lakukan <b>verifikasi</b> atau <b>penyuntingan</b> jika diperlukan. Jika semua
                    sudah sesuai kriteria, centang <code><b>Verifikasi</b></code> di bawah, lalu submit. Jika ada pesan yang ingin disampaikan
                    seperti berkas kurang jelas, silahkan ketik di kolom pesan.
                </p>
            </div>

            <div class="border rounded mx-3 mt-3">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'participant-family-cert' pk %}">Berkas Daftar/Identitas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cert-list' pk %}">Sertifikat Penghargaan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'raport-list' pk %}">Berkas Raport</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'participant-files' pk %}">Berkas Penting Lainnya</a>
                    </li>
                </ul>
            </div>

            <div class="alert alert-success m-3 d-none" id="alert-raport-berhasil" role="alert">
                Berhasil Meng-update Data.
            </div>

            <div class="table-responsive-md mt-3 mx-3">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Verifikasi</th>
                            <th scope="col">Nama Lomba</th>
                            <th scope="col">Berkas Raport</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in cert_files %}
                            <tr>
                                <th scope="row">{{ forloop.counter  }}</th>
                                <td>
                                    <form method="POST" action="" class="form-cert" id="verified-raport-{{ r.pk  }}">
                                        <div class="custom-control custom-checkbox">
                                            {% csrf_token %}
                                            <input type="checkbox" class="custom-control-input"
                                                   {% if r.verified %}
                                                   checked
                                                   {% endif %}
                                                   name="verified" required="" value="verified" id="id_verified_{{ r.pk  }}">
                                            <input type="hidden" name="primary_key" value="{{ r.pk }}" />
                                            <label class="custom-control-label" for="id_verified_{{ r.pk  }}"></label>
                                        </div>
                                    </form>
                                </td>
                                <td><a href="{{ r.certificate.url }}">{{ r.certi_name  }}</a></td>
                                <td>
                                    <form method="POST" action="{% url 'cert-delete' pk r.pk %}">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-danger btn-sm" name="submit" value="Hapus" />
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr />
                <a href="{% url 'cert-create' pk %}" class="btn btn-outline-primary">Tambah Sertifikat</a>
            </div>

        </div>
    </div>
{% endblock maindash %}
{% block js %}
    {{ block.super  }}
    <script type="text/javascript" src="{% static 'dashboard/js/cert.js' %}"></script>
{% endblock js %}
