{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}
{% block dashtitle %}
    Dashboard Primaseru <span class="badge badge-warning">{{ request.user.username }}</span> <br />
    <a class="btn btn-light shadow my-3"  href="{% url 'insert-participant' %}">Tambah Pendaftar</a>
    <a class="btn btn-outline-light my-3"  href="{% url 'logout' %}">Logout</a>
{% endblock dashtitle %}
{% block head %}
    {{ block.super  }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
    {% comment %} <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"> {% endcomment %}
    <style type="text/css" media="screen">
    td {
        vertical-align: inherit !important;
    }
    table th {
        border-bottom: none !important;
        border-top: none !important;
    }
     .badge-purple, .bg-purple {
         background: #bf0db6;
         color: white;
     }
     .text-purple {
         color: #bf0db6;
     }
     .border-purple {
         border-color: #bf0db6 !important;
     }
     .badge-orange, .bg-orange {
         background: #f05f13;
         color: white;
     }
     .text-orange {
         color: #f05f13;
     }
     .border-orange {
         border-color: #f05f13 !important;
     }
     .badge-cyan, .bg-cyan {
         background: #14f5e4;
         color: black;
     }
     .text-cyan {
         color: #14f5e4;
     }
     .border-cyan {
         border-color: #14f5e4 !important;
     }
     .badge-abu, .bg-abu {
         background: #b1b5b7;
         color: black;
     }
     .text-abu {
         color: #b1b5b7;
     }
     .border-abu {
         border-color: #b1b5b7 !important;
     }
    </style>
{% endblock head %}
{% block maindash %}
    <div class="row shadow-sm bg-white border-0 p-3 m-4 rounded">

        <div class="col-12 p-3">
            <h4 class="judul font-weight-bold">Statistik Total Pendaftar</h4>

            <div class="row">
                <div class="col-md m-2 p-3 bg-white rounded border">
                    <h3 class="mb-0 mt-1">{{ total_participant }} <small class="text-muted h6 judul">siswa</small></h3>
                    <h4 class="mb-1 judul">Total Pendaftar</h4>
                </div>
                <div class="col-md m-2 p-3 bg-white rounded border">
                    <h3 class="mb-0 mt-1">{{ total_mm }} <small class="text-muted h6 judul">siswa</small></h3>
                    <h4 class="mb-1 judul">Memilih Prodi MM</h4>
                </div>
                <div class="col-md m-2 p-3 bg-white rounded border">
                    <h3 class="mb-0 mt-1">{{ total_tkj }} <small class="text-muted h6 judul">siswa</small></h3>
                    <h4 class="mb-1 judul">Memilih Prodi TKJ</h4>
                </div>
                <div class="col-md m-2 p-3 bg-white rounded border">
                    <h3 class="mb-0 mt-1">{{ total_tjat }} <small class="text-muted h6 judul">siswa</small></h3>
                    <h4 class="mb-1 judul">Memilih Prodi TJAT</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md m-2  p-3 bg-white rounded border border-success">
                    <h3 class="mb-0 mt-1">{{ total_participant_accepted }} <small class="text-muted h6 judul">siswa</small></h3>
                    <h4 class="mb-1 judul"><span class="badge badge-success">DITERIMA/LULUS</span></h4>
                </div>
                <div class="col-md m-2 p-3 bg-white rounded border border-danger">
                    <h3 class="mb-0 mt-1">{{ total_participant_pay }} <small class="text-muted h6 judul">siswa</small></h3>
                    <h4 class="mb-1 judul"><span class="badge badge-danger">INPUT TAGIHAN DAFTAR ULANG</span></h4>
                </div>
                <div class="col-md m-2  p-3 bg-white rounded border border-primary">
                    <h3 class="mb-0 mt-1">{{ total_participant_paid_off }} <small class="text-muted h6 judul">siswa</small></h3>
                    <h4 class="mb-1 judul"><span class="badge badge-primary">LUNAS BAYAR DAFTAR ULANG</span></h4>
                </div>
                <div class="col-md m-2  p-3 rounded border border-warning">
                    <h3 class="mb-0 mt-1">{{ total_participant_profile }} <small class="text-muted h6 judul">siswa</small></h3>
                    <h4 class="mb-1 judul"><span class="badge badge-warning">MENGISI IDENTITAS</span></h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md m-2  p-3 bg-white rounded border border-purple">
                    <h3 class="mb-0 mt-1">{{ total_participant_pay_1 }} <small class="text-muted h6 judul">siswa</small></h3>
                    <h4 class="mb-1 judul"><span class="badge badge-purple">LUNAS PEMBAYARAN PERTAMA</span></h4>
                </div>
                <div class="col-md m-2 p-3 bg-white rounded border border-orange">
                    <h3 class="mb-0 mt-1">{{ total_participant_pay_2 }} <small class="text-muted h6 judul">siswa</small></h3>
                    <h4 class="mb-1 judul"><span class="badge badge-orange">LUNAS PEMBAYARAN KEDUA</span></h4>
                </div>
                <div class="col-md m-2  p-3 bg-white rounded border border-abu">
                    <h3 class="mb-0 mt-1">{{ total_participant_pay_3 }} <small class="text-muted h6 judul">siswa</small></h3>
                    <h4 class="mb-1 judul"><span class="badge badge-abu">LUNAS PEMBAYARAN KETIGA</span></h4>
                </div>
                <div class="col-md m-2  p-3 rounded border border-cyan">
                    <h3 class="mb-0 mt-1">{{ total_re_register_files }} <small class="text-muted h6 judul">siswa</small></h3>
                    <h4 class="mb-1 judul"><span class="badge badge-cyan">KUMPUL BERKAS DAFTAR ULANG</span></h4>
                </div>
            </div>

        </div>
    </div>


    <div class="row shadow-sm bg-white border-0 p-3 m-4 rounded">
        <div class="col-md-12 py-3 bg-white rounded border-0">
            <div class="row">
                <div class="col-12 col-md">
                    <h4 class="judul font-weight-bold">Daftar Calon Peserta Didik SMK Telkom Bandung</h4>
                </div>
                <div class="col-12 col-md d-flex justify-content-end align-items-start">
                    <a class="btn btn-sm btn-outline-danger mt-1" href="{% url 'export' %}">Export</a>
                </div>
            </div>

            <div class="table-responsive mt-3">
                <table class="table table-hover table-sm" id="data-table">
                    <thead class="py-3 thead-light">
                        <tr>
                            <th scope="col">No. Pendaftaran</th>
                            <th scope="col">Nama Lengkap</th>
                            <th scope="col">Nama Orang Tua</th>
                            <th scope="col">Asal Sekolah</th>
                            <th scope="col" data-toggle="tooltip" data-placement="top" title="Sesuaikan Dengan Warna Statik di Atas.">Status</th>
                            {% if request.user.is_staff %}
                            <th scope="col" >Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in participant %}
                            <tr>
                                <td>
                                    <h5><span class="ml-3 badge badge-secondary">{{ s.registration_number }}</span></h5>
                                </td>
                                <td><p class="mb-2">
                                        <a href="{% url 'participant-detail' s.account.pk %}">{{ s.full_name|title  }}</a>
                                        {% if s.verified %}
                                            <span data-toggle="tooltip" data-placement="top" title="Bisa Akses Profile (verified)">&#10004;</span>
                                        {% endif %}
                                    </p>
                                    <span class="text-muted">{{ s.participant_phone_number  }}</span>
                                </td>
                                <td>
                                     <p class="mb-1">
                                            {{ s.parent_full_name|title  }}
                                     </p>
                                    <span class="text-muted">{{ s.parent_phone_number  }}</span>
                                </td>
                                <td>{{ s.previous_school  }}</td>
                                <td>
                                    {% if s.account.participantgraduation.passed == 'L' %}
                                        <span class="badge badge-success" data-toggle="tooltip" data-placement="top" title="Lulus">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-success bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8"/>
                                            </svg>
                                        </span>
                                    {% endif %}
                                    {% if s.account.participantrepayment.paid_off %}
                                        <span class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="Lunas Bayar Daftar Ulang">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-primary bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8"/>
                                            </svg>
                                        </span>
                                    {% endif %}
                                    {% if s.account.participantrepayment %}
                                        <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Input Tagihan Daftar Ulang">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-danger bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8"/>
                                            </svg>
                                        </span>
                                    {% endif %}
                                    {% if s.account.participantprofile %}
                                        <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Sudah Mengisi Identitas">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-warning bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8"/>
                                            </svg>
                                        </span>
                                    {% endif %}
                                    {% if s.account.participantrepayment.verified_1 %}
                                        <span class="badge badge-purple" data-toggle="tooltip" data-placement="top" title="Lunas Pembayaran Daftar Ulang 1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-purple bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8"/>
                                            </svg>
                                        </span>
                                    {% endif %}
                                    {% if s.account.participantrepayment.verified_2 %}
                                        <span class="badge badge-orange" data-toggle="tooltip" data-placement="top" title="Lunas Pembayaran Daftar Ulang 2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-orange bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8"/>
                                            </svg>
                                        </span>
                                    {% endif %}
                                    {% if s.account.participantrepayment.verified_3 %}
                                        <span class="badge badge-abu" data-toggle="tooltip" data-placement="top" title="Lunas Pembayaran Daftar Ulang 3">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-abu bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8"/>
                                            </svg>
                                        </span>
                                    {% endif %}
                                    {% if s.account.studentfile and s.account.reportfileparticipant_set.all %}
                                        <span class="badge badge-cyan" data-toggle="tooltip" data-placement="top" title="Sudah Mengumpulkan Berkas Daftar Ulang">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-cyan bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8"/>
                                            </svg>
                                        </span>
                                    {% endif %}
                                </td>
                                {% if request.user.is_staff %}
                                <td class="text-center">
                                    <form method="POST" class="" action="{% url 'delete-participant' s.account.pk %}">
                                        {% csrf_token %}
                                        <div class="dropdown">
                                            <span class="btn btn-sm font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                                </svg>
                                            </span>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <input type="submit" value="Delete" class="dropdown-item">
                                                <a class="dropdown-item" href="{% url 'participant-change-password' s.account.pk %}">Password</a>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    </div>
{% endblock maindash %}
{% block js %}
    {{ block.super  }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
     $("#data-table").DataTable();
     $(function () {
         $('[data-toggle="tooltip"]').tooltip();
         $("#data-table").addClass("border rounded");
     })
    </script>
{% endblock js %}
