{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block head %}
    {{ block.super  }}
{% endblock head %}
{% block dashtitle %}
    Daftar Berkas <br />
    <a class="btn btn-light" href="{% url 'files-pool-create' %}">Tambah Berkas</a>
{% endblock dashtitle %}
{% block maindash %}
    <div class="row">
        <div class="col-12">
            <div class="table-responsive bg-white rounded p-3 mt-4 shadow">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nama Berkas</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in object_list %}
                            <tr>
                                <th scope="row">{{ forloop.counter  }}</th>
                                <td>{{ s.name  }}</td>
                                <td>
                                    <form method="POST" class="" action="{% url 'files-pool-delete' s.pk %}">
                                        {% csrf_token %}
                                        <input type="submit" value="Delete" class="btn btn-outline-secondary btn-sm">
                                        <a class="btn btn-outline-primary btn-sm" href="{% url 'files-pool-update' s.pk %}">Edit</a>
                                        <a class="btn btn-primary btn-sm" href="{{ s.files.url  }}">Lihat</a>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock maindash %}
