{% extends 'dashboard/list_base.html' %}

{% block dashtitle %}
    Status Jurusan (Prodi) Pendaftar<br />
    <a class="btn btn-light" href="{% url 'major-status-create' %}">Tambah Jurusan</a>
{% endblock dashtitle %}

{% block table %}
<table class="table table-hover table-sm m-0">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Jurusan/Prodi</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for s in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter  }}</th>
                <td>{{ s.major  }}</td>
                {% if s.is_avail %}
                    <td>Tersedia</td>
                {% else %}
                    <td>Tidak Tersedia</td>
                {% endif %}
                <td>
                    <form method="POST" class="" action="{% url 'major-status-delete' s.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-outline-secondary btn-sm">
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'major-status-update' s.pk %}">Edit</a>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock table %}
