{% extends 'dashboard/list_base.html' %}

{% block dashtitle %}
    Daftar Berkas Pendaftaran <br />
    <a class="btn btn-light" href="{% url 'files-register-create' %}">Tambah Berkas</a>
{% endblock dashtitle %}

{% block table %}
<table class="table table-hover table-sm m-0">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nama Berkas</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for s in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter  }}</th>
                <td>{{ s.file_name  }}</td>
                <td>
                    <form method="POST" class="" action="{% url 'files-register-delete' s.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-outline-secondary btn-sm">
                        <a class="btn btn-primary btn-sm" href="{% url 'files-register-update' s.pk %}">Edit</a>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock table %}
